<div class="row">
    <div class="nav-bar">
        <ul class="nav-list">
            <li class="list-item mt-2"style="margin:10px">
                <i class="fa fa-bars fa-2x"(click)="show()"></i>
            </li >
            <li class="list-item">
                <a routerLink="/user/myprofile" routerLinkActive="active">MyProfile</a>
            </li>
            <li class="list-item">
                <a routerLink="/user/viewtask" routerLinkActive="active">ViewTasks</a>
            </li >
            <li class="list-item">
                <a routerLink="/user/taskhistory" routerLinkActive="active">TaskHistory</a>
            </li>
            <li class="list-item">
                <a routerLink="/user/taskanalytics" routerLinkActive="active">TaskAnalytics</a>
            </li>
            <button class="btn btn-danger mt-2"(click)="logout()">Logout</button>
        </ul>
    
    </div>
    </div>
    <router-outlet></router-outlet>

